footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(194, 194, 194);
    padding: 25px 0;
    div{
        a{
            text-decoration: none;
            img{
                width: 30px;
                margin: 0 15px;
            }
        }
        text-align: center;
        img{
            width: 200px
        };
    }
}