@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
header nav {
  height: 60px;
  background-color: #95c844;
  text-align: center; }
  header nav ul {
    list-style: none;
    display: inline-block;
    padding: 10px; }
    header nav ul li {
      float: left; }
      header nav ul li a {
        color: white;
        font-size: 30px;
        text-decoration: none;
        padding: 18px; }
        header nav ul li a button {
          width: 100px;
          height: 30px;
          border-radius: 5px;
          background-color: white;
          border: none;
          color: #95c844;
          font-family: 'Roboto';
          font-weight: 500;
          font-size: 15px; }
          header nav ul li a button:hover {
            color: white;
            background-color: #557128;
            transform: translateY(-0.25em); }

h1 {
  margin-top: 2rem; }

div.container {
  display: flex;
  justify-content: center; }
  div.container div {
    text-align: center;
    width: 250px;
    margin: 50px; }
    div.container div img {
      width: 200px;
      border-radius: 50%; }
      div.container div img:hover {
        transition: all 0.5s;
        transform: scale(1.1); }

div.historia {
  text-align: center;
  margin-bottom: 40px; }
  div.historia div {
    display: inline-block; }
    div.historia div p {
      width: 600px; }
    div.historia div:hover {
      transition: all 0.5s;
      transform: scale(1.1); }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c2c2c2;
  padding: 25px 0; }
  footer div {
    text-align: center; }
    footer div a {
      text-decoration: none; }
      footer div a img {
        width: 30px;
        margin: 0 15px; }
    footer div img {
      width: 200px; }

.father-container {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .father-container .text-container {
    width: 600px;
    margin: 20px 0; }
    .father-container .text-container h3 {
      border-bottom: 2px solid #95c844;
      text-align: center;
      font-size: 25px;
      margin-bottom: 5px;
      padding-bottom: 5px; }
    .father-container .text-container ul {
      margin-left: 40px; }

.img--instagram {
  padding-bottom: 5px;
  border-bottom: 2px solid #c766ff; }

.img--facebook {
  padding-bottom: 5px;
  border-bottom: 2px solid #3052ce; }

.img--whatsapp {
  padding-bottom: 5px;
  border-bottom: 2px solid #6bb039; }

a {
  text-decoration: none; }

.button-style, .button-turno {
  width: 100px;
  height: 40px;
  font-family: 'Roboto';
  font-size: 15px;
  border: none;
  color: white;
  background-color: #3052ce; }

.button-turno {
  background-color: #95c844;
  border: 5px solid #ffffff73;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  font-size: 20px; }

.buttons-container {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', Helvetica, sans-serif !important; }

h1 {
  color: black;
  font-size: 1.5rem;
  text-align: center; }
