@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white(149, 200, 68);
    font-family: 'Roboto', Helvetica, sans-serif;    
}

@media screen and (max-width: 1023px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header"
        "productos"
        "servicios"
        "publicidad"
        "footer";
        grid-template-rows: 500px 1fr 1fr 1fr auto;
        grid-template-columns: auto;
    }
    
    header{
        grid-area: header;
    }
    
    footer{
        grid-area: footer;
    }
    
    section#productos{
        grid-area: productos;
    }
    
    section#servicios{
        grid-area: servicios;
    }
    
    aside{
        grid-area: publicidad;
    }

    h1{
        font-size: 150px;
    }

    .buttons-menu{
        width: 250px;
        height: 100px;
        border-radius: 15px;
        background-color: white;
        border: solid 2px rgb(149, 200, 68);
        color: rgb(149, 200, 68);
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 40px;
        margin: 20px 0;
    }

    .section0, .section1{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        width: 70%;
        max-width: 800px;
        margin: 10px 50px;
        padding: 5px;
    }

    .desktop-img{
        display: none;
    }

    .menuContainer{
        background-color: white;
        display: flex;
        justify-content: center;
    }
    
    .listContainer{
        margin-top: 10px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 600px;
    }
    
    .listContainer > li{
        list-style: none;
        align-self: center;
    }

    .footer-class{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(194, 194, 194);
        padding: 25px 0;
    }
    
    .social-media > a{
        margin: 25px;
    }

    .social-media > a > img{
        width: 100px;
    }
    
    .footer-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo > img{
        width: 500px;
    }

    .footer-logo > p{
        font-size: 50px;
    }

    .footer-class > div > iframe{
        margin-top: 50px;
        align-self: center;
        width: 800px;
        height: 400px;
    }

}

@media screen and (min-width: 1024px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header header"
        "productos publicidad"
        "servicios publicidad"
        "footer footer";
        grid-template-rows: 100px 1fr 1fr auto;
        grid-template-columns: auto 25%;
    }
    
    header{
        grid-area: header;
    }
    
    footer{
        grid-area: footer;
    }
    
    section#productos{
        grid-area: productos;
    }
    
    section#servicios{
        grid-area: servicios;
    }
    
    aside{
        grid-area: publicidad;
    }

    .buttons-menu{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: white;
        border: solid 2px rgb(149, 200, 68);
        color: rgb(149, 200, 68);
        font-family: 'Roboto';
        font-weight: 500;
    }

    .section0, .section1{
        display: flex;
        justify-self: center;
        align-items: center;
        width: 70%;
        max-width: 800px;
        margin: 10px 50px;
        padding: 5px;
    }

    .mobile-img{
        display: none;
    }

    .menuContainer{
        background-color: white;
        display: flex;
        justify-content: center;
    }
    
    .listContainer{
        margin-top: 10px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        width: 70%;
        max-width: 600px;
    }
    
    .listContainer > li{
        list-style: none;
        align-self: center;
    }

    .footer-class{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(194, 194, 194);
        padding: 25px 0;
    }
    
    .social-media{
        display: flex;
        flex-direction: column;
    }
    
    .social-media > a{
        padding: 10px 0;
    }
    
    .footer-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}



.title-class{
    font-size: larger;
}

.title-class > h1 > a{
    color: #95c844;
}

.paragraph0{
    margin: 0 0 0 75px;
}

.video0, .video1 {
    height: 520px;
    border-radius: 20px;
}

aside{
    justify-self: center;
    align-self: center;
}

a{
    text-decoration: none;
}

.paragraph0{
    background: #fff; /* color de fondo */
    color: #95c844; /* color de fuente */
    border: 2px solid #95c844; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .paragraph0:hover {
    color: #fff;/* color de fuente hover */
  }
  .paragraph0::after {
    content: "";
    background: #95c844; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .paragraph0:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
  }

  .listContainer > li {
    opacity: 0;
    animation: show 800ms linear forwards;
    }
    @keyframes show {
    to {
    opacity: 1;
    }
    }

iframe {
    opacity: 0;
    animation: show 5000ms linear forwards;
    }
    @keyframes show {
    to {
    opacity: 1;
    }
    }